doctype html
html(lang='en')
  include includes/head
  body.single.single-post
    include includes/header
    
    main(role='main')
      #intro-wrap(data-height='22.222')
        #intro.preload.darken
          .intro-item(style='background-image: url(#{company.banner});')
            // caption
          // intro
        // intro
      // intro-wrap
      #main.row
        section.row.section
          .row-content.buffer.even.clear-after.contact
            .section-title
              h3 #{__('contact')}
            !{company.lang.context}
            .gallery.slider.leftimg(data-autoplay='false', data-autoheight='false')
                each item in company.imgurl
                  figure
                    div
                      img(src='#{item}', alt='')


    include includes/footer
    script(src='/js/plugins.js')
    script(src='/js/beetle.js')