doctype html
html(lang='en')
  include includes/head
  body.single.single-post
    include includes/header
    
    main(role='main')
      #intro-wrap(data-height='22.222')
        #intro.preload.darken
          .intro-item(style='background-image: url(img/banner/banner1.jpg);')
            //- .caption
            //-   h2 Steve Jobs
            //-   p To live is to change the world.
            // caption
          // intro
        // intro
      // intro-wrap
      #main.row
        .row-content.buffer-left.buffer-right.buffer-bottom
          #post-nav
            ul.clear-after.reset.plain
              li#prev-items.post-nav
                a(href='#')
                  i.fa.fa-chevron-left
                  span.label 上一篇
              li#all-items.post-nav
                a(href='list.html')
                  i.icon.icon-images
              li#next-items.post-nav
                a(href='#')
                  span.label 下一篇
                  i.fa.fa-chevron-right
          .related.clear-after
            h4 Related Posts
            .item
              figure
                img(src='img/news1.jpg', alt='')
            .item
              figure
                img(src='img/news1.jpg', alt='')
            .item.last
              figure
                img(src='img/news1.jpg', alt='')
          .post-area.clear-after
            article(role='main')
              h5.meta-post
                a(href='#') 企业资讯
                |  - 
                a(href='#') 文章标题
                |  - 
                time(datetime='2016-03-10') 2016 - 03 - 10
              h1 文章标题
              p
                | 这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.
              .gallery.slider(data-autoplay='false', data-autoheight='true')
                figure
                  div
                    img(src='img/news1.jpg', alt='')
                  div
                    img(src='img/news2.jpg', alt='')
                  div
                    img(src='img/news3.jpg', alt='')
              // gallery
              p
                | 这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.
              p
                | 这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.
              p
                | 这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.
              p
                | 这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.
              p
                | 这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.
              p
                | 这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.
              p
                | 这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.
              p
                | 这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.
              p
                | 这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.
              p
                | 这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.
              p
                | 这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.
              p
                | 这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.这里是内容.


    include includes/footer
    script(src='js/plugins.js')
    script(src='js/beetle.js')
