doctype html
html(lang='en')
  include includes/head
  body.single.single-post
    include includes/header
    
    main(role='main')
      #intro-wrap(data-height='22.222')
        #intro.preload.darken
          .intro-item(style='background-image: url(img/banner/banner1.jpg);')
            //- .caption
            //-   h2 Steve Jobs
            //-   p To live is to change the world.
            // caption
          // intro
        // intro
      // intro-wrap
      #main.row
        .row-content.buffer-left.buffer-right.buffer-bottom.clear-after
          .column(style='width: 100%;')
            #post-nav
              ul.clear-after.reset.plain
                li#all-items.post-nav
                  h3 团队秀
            article.clear-after
              .column.three
                figure
                  img(src='img/team1.jpg', alt='')
              // column three
              .column.nine.last
                h2 Steve Jobs
                h5.meta-post 这里写头衔
                p "To live is to change the world."
              // column nine
            article.clear-after
              .column.three
                figure
                  img(src='img/team1.jpg', alt='')
              // column three
              .column.nine.last
                h2 Steve Jobs
                h5.meta-post 这里写头衔
                p "To live is to change the world."
              // column nine
            article.clear-after
              .column.three
                figure
                  img(src='img/team1.jpg', alt='')
              // column three
              .column.nine.last
                h2 Steve Jobs
                h5.meta-post 这里写头衔
                p "To live is to change the world."
              // column nine
            article.clear-after
              .column.three
                figure
                  img(src='img/team1.jpg', alt='')
              // column three
              .column.nine.last
                h2 Steve Jobs
                h5.meta-post 这里写头衔
                p "To live is to change the world."
              // column nine
            article.clear-after
              .column.three
                figure
                  img(src='img/team1.jpg', alt='')
              // column three
              .column.nine.last
                h2 Steve Jobs
                h5.meta-post 这里写头衔
                p "To live is to change the world."
              // column nine
            article.clear-after
              .column.three
                figure
                  img(src='img/team1.jpg', alt='')
              // column three
              .column.nine.last
                h2 Steve Jobs
                h5.meta-post 这里写头衔
                p "To live is to change the world."
              // column nine
          // column nine
        // row-content
      // row
    // main
    include includes/footer
    script(src='js/plugins.js')
    script(src='js/beetle.js')
